body, html {
    height: 100%;
    background-color: #333333;
    font-family: 'Roboto', sans-serif;
}

.logo{
  height: 3rem;
}

/* The hero image */
.terapia-image {
  background-image: url("../img/terapia-fisica.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-style: solid;
  border-color: white;
  
}

.terapia-image:hover{
  background-image: url("../img/terapiagif.gif");
/*
  transform: translate(1px,-15px);
  -webkit-transform: translate(1px,-15px);
  -moz-transform: translate(1px,-15px);
  */
}

.masaje-image {
    background-image: url("../img/masaje.png");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-style: solid;
    border-color: white;
  }

  .masaje-image:hover{
    background-image: url("../img/massagegif.gif");

/*
  transform: translate(1px,-15px);
  -webkit-transform: translate(1px,-15px);
  -moz-transform: translate(1px,-15px);
  */
  }
  
  .estilista-image {
    background-image: url("../img/estilista2.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-style: solid;
    border-color: white;
  }

  .estilista-image:hover{
    background-image: url("../img/haircut.gif");
/*
  transform: translate(1px,-15px);
  -webkit-transform: translate(1px,-15px);
  -moz-transform: translate(1px,-15px);
  */
  }

  .tabla{
    padding-top: 0.5rem;
  }

  .texto-terapia, .texto-masaje, .texto-estilista {
    text-align: center;
    position: static;
    background-color: #333333;
    color: white;
    margin-top: 50vh;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
    border-radius: 5px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:hover{
    text-decoration: underline;
    color: white;
  }

  /*---------------------------MEDIA QUERIES----------------------------------------------------*/
@media(hover: none){
  .terapia-image:hover{
    background-image: url("../img/terapia-fisica.jpg");
  }

  .masaje-image:hover{
    background-image: url("../img/masaje.png");
  }

  .estilista-image:hover{
    background-image: url("../img/estilista2.jpg");
  }
}


/*PANTALLAS PEQ*/
@media (max-width: 575.98px) {
  .terapia-image, .masaje-image, .estilista-image{
    height: 40vh;
  }

  .texto-terapia, .texto-masaje, .texto-estilista {
    text-align: center;
    position: static;
    background-color: #333333;
    color: white;
    margin-top:30vh;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
    border-radius: 5px;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
  .tabla{
    width: 90vw;
  }

}







